.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    text-align: center;
    margin: 20px;
}        
.pizza-card{
    display: grid;
    margin: 20px;
    border-radius: 20px;
    width: 300px;
    background-color: #fff;
}
.pizza-card img{
    border-radius: 20px 20px 0 0;
    width: 300px;
    height: 150px;
    object-fit: cover;
}
.pizza-card h2{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 65, 117);
}
.pizza-card span{
    font-weight: 100;
    font-size: 13px;
}
.pizza-card .price{
    font-size: 20px;
    font-weight: 600;
    color: rgb(122, 100, 0);
}
.pizza-card .contents{
    display: block;
    padding: 0 0 20px 0;
}
.pizza-card .pizza{
    padding: 5px 10px 40px 15px;
}
.pizza-card a{
    margin-left:30px;
    border-radius: 20px;
    font-size: 13px;
    padding: 3px 17px 3px 17px;
    border: 2px rgb(0, 65, 117) solid;
    color: rgb(0, 65, 117);
    text-decoration: none;
    transition: color 3ms ease;
}
.pizza-card a:hover{
    color: #fff;
    background:  rgb(0, 65, 117);
}
ul.nav{
    margin-top: 10px;
    margin-left: 33px;
    background: #fff;
    padding: 20px;
  }
  ul.nav a{
    color: orange;
  }
  li.nav-item a.nav-link.active{
    background-color: orange;
    color: #fff;
  }
  @media (max-width:545px){
    ul.nav{
    margin-left: 0;
    padding: 15px;
  }
  }
  @media (max-width:504px){
    ul.nav{
    font-size: 11px;
  }
  }
  
@media(max-width: 1139px){
    .grid-container {
        justify-content: center;
        order: 1;
        grid-template-columns: auto auto;
    }
}
@media(max-width: 755px){
    .grid-container {
        grid-template-columns: auto;
    }
}