{% extends 'pages/layout.html' %}
{% load static %}

{% block baslik %}
    <title>PizzaS | Sepetim</title>
    <link rel="stylesheet" href="{% static 'css/page_specific/basket.css' %}">

{% endblock baslik %}
    


{% block body %}

{% load crispy_forms_tags %}          
            
            
    {% if basketItems %}
    <div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Sepetim</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{itemsCount}} ürün</div>
                </div>
            </div>
            {% for pizza,feature in basketItems %}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="{{pizza.4}}"></div>
                        <div class="col">
                            <div id="pizzas-text" class="row">{{pizza.1}}</div>
                            <div id="pizzas-text" class="row text-muted">{{pizza.2}}</div>
                        </div>
                        {% if feature.3 == '3' %}
                            <div id="pizzas-text" class="col">Büyük Boy</div>
                        {% elif feature.3 == '2' %}
                            <div id="pizzas-text" class="col">Orta Boy</div>
                        {% else %}
                            <div id="pizzas-text" class="col">Küçük Boy</div>
                        {% endif %}
                        <div id="pizzas-text" class="col"><a class="text-muted" href="{% url 'basket:updateReducePiece' feature.0 %}">-</a> {{feature.2}} <a class="text-muted" href="{% url 'basket:updateAddPiece' feature.0 %}">+</a></div>
                        <div id="pizzas-text" class="col">{{pizza.3}} TL<a href="{% url 'basket:removeItem' feature.0 %}" class="close">&#10005;</a></div>
                    </div>
                </div> <hr>
            {% endfor %}
            <div class="back-to-shop"><a href="{% url 'pizzas:pizzas' %}">&leftarrow;</a><span class="text-muted">Alışverişe Devam Et</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Özet</b></h5>
            </div>
           
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL FİYAT</div>
                <div class="col text-right">{{sumPrices}} TL</div>
            </div>
            
            <div class="row" >
                    <a href="{% url 'basket:payment' %}" class="btn">Ödeme Sayfasına Git</a>
            </div>
            
        </div>
    </div>
</div>
    {% else %}
        <div class="empty-list-container">
            <div class="empty-list">
                <center><div class="circle"><i class="fas fa-shopping-cart"></i></div></center>
                <center><p>Sepetinizde Ürün Bulunmamaktadır.</p></center>
                <center><a class="goto-back" href="{% url 'pizzas:pizzas' %}">Hemen Sipariş Ver</a></center>
            </div>
        </div>
    {% endif %}
    
{% endblock body %}