{% extends 'pages/layout.html' %}
{% load static %}

{% block baslik %}
    <title>PizzaS | {{title}}</title>
    <link rel="stylesheet" href="{% static 'css/page_specific/pizzas.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/category_nav.css' %}">
    <style>
      .nav-link{
    color: orange;
  }
  div.title{
    display: flex;
    margin: 7px;
    color: orange;
  }
  div.title button{
    position: absolute;
    left: 20px;
  }
    </style>
{% endblock baslik %}
    


{% block body %}
<form>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        
          <input class="search_input" type="text" name="keyword" placeholder="Ara...">
          <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
          
      </div>
    </div>
  </div></form>
<nav style="z-index:0;" class="navbar navbar-expand-sm navbar-light bg-faded">
  <div class="title">
    <button style="display:flex;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
      aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h2 class="title">Kategoriler</h2>
    </div>
  <!-- Links -->
  <div class="collapse navbar-collapse justify-content-end" id="nav-content">
    <ul class="navbar-nav">
      {% for category in categorys %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'campaign:category' category.name %}">{{category.name}}</a>
      </li>
      {% endfor %}
    </ul>
</nav>
    <div class="pizza-list">
    <div class="grid-container">
    {% for campaign in campaigns %}
    <div class="grid-item">
        <div class="pizza-card">
          <img src={{campaign.imageUrl}}></img>
          <div class="pizza"> 
            <h2>{{campaign.title}}</h2>
            <span class="contents">{{campaign.contents}}</span>
            <span class="price">{{campaign.price}} TL</span>
            <a href="{% url 'basket:addToBasketCampaign' campaign.id %}">Sipariş Ver</a>
          </div>
        </div>
        </div>
    {% endfor %}
    </div></div>
<script src="{% static 'js/categoryNav/jquery-3.2.1.slim.min.js' %}" ></script>

<script src="{% static 'js/categoryNav/popper.min.js' %}" ></script>

<script src="{% static 'js/categoryNav/bootstrap.min.js' %}" ></script>

<script src="{% static 'js/categoryNav/index.js' %}" ></script>
{% endblock body %}