{% extends 'pages/layout.html' %}
{% load static %}

{% block baslik %}
    <title>PizzaS | Ürün Ekle</title>
    <link rel="stylesheet" href="{% static 'css/page_specific/addProduct.css' %}">
{% endblock baslik %}
    


{% block body %}
{% load crispy_forms_tags %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="log-container">
            <div class="col-md-6 offset-md-3">
            <img src="{% static 'media/pizza.png' %}" alt=""></div>

            <form method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <br>
                <button type="submit" class="btn btn-warning">Ekle</button>
            </form>
            <br>
            <a href="{% url 'user:dashboard' %}">Vazgeç</a>
        </div> 
    </div>
</div>


    


{% endblock body %}