{% extends 'pages/layout.html' %}
{% load static %}


{% block baslik %}
    <title>PizzaS | Kontrol Paneli</title>
    <link rel="stylesheet" href="{% static 'css/page_specific/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/category_nav.css' %}">
{% endblock baslik %}
    


{% block body %}
{% load static %}

{% load crispy_forms_tags %}
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user:orders' %}">Gelen Siparişler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pizzas:products' %}">Pizzaları Düzenle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'campaign:campaign' %}">Kampanyaları Düzenle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'extras:extras' %}">Ekstraları Düzenle</a>
    </li>
  </ul>
<div id="adminDashboard" class="row">
    <div class="col-md-6 offset-md-3">
        <div class="log-container">
            <div class="col-md-6 offset-md-3">
            <img src="{% static 'media/pizza.png' %}" alt=""></div>
            <div class="col">
                <span style="font-size:13px;">Yıllık Kazanç : {{yearly}} TL</span> <br>
               <span style="font-size:13px;">Aylık Kazanç : {{monthly}} TL</span> <br>
               <span style="font-size:13px;">Günlük Kazanç : {{daily}} TL</span> <br>
            </div>           
        </div>
    </div>
</div>
{% endblock body %}