{% extends 'pages/layout.html' %}
{% load static %}


{% block baslik %}
    <title>PizzaS | Kontrol Paneli</title>
    <link rel="stylesheet" href="{% static 'css/page_specific/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/category_nav.css' %}">
    <style>
        .detail{
            font-size: 12px;
            margin: 5px;
            padding: 5px;
            background: orange;
            border-radius: 20px;
            color: #fff;
        }
        .detail:hover{
            color: #fff;
            text-decoration: none;
        }
        div h3{
            margin-bottom: 30px;
        }
        .checked {
        color: orange;
    }
    .rate{
        font-size:13px;
        margin-top:10px;
        margin-bottom:10px;
      }
      .nav-link{
    color: orange;
  }
  div.title{
    display: flex;
    margin: 7px;
    color: orange;
  }
  div.title button{
    position: absolute;
    left: 20px;
  }
    </style>
{% endblock baslik %}
    


{% block body %}
{% load static %}

{% load crispy_forms_tags %}
<nav style="z-index:0;" class="navbar navbar-expand-sm navbar-light bg-faded">
  <div class="title">
    <button style="display:flex;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
      aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h2 class="display-6 title">Yönetim</h2>
    </div>
  <!-- Links -->
  <div class="collapse navbar-collapse justify-content-end" id="nav-content">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'user:orders' %}">Gelen Siparişler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pizzas:products' %}">Pizzaları Düzenle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'campaign:campaign' %}">Kampanyaları Düzenle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'extras:extras' %}">Ekstraları Düzenle</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="{% url 'user:categories' %}">Kategorileri Yönet</a>
    </li>
    </ul>
</nav>

<div id="adminDashboard" class="row">
    <div class="col-md-6 offset-md-3">
        <div class="log-container">
            <div class="col-md-6 offset-md-3">
            <img src="{% static 'media/pizza.png' %}" alt=""></div>
            <div><h3 class="display-6">İstatistikler</h3></div><hr>
            <div class="col">
                <span style="font-size:13px;"><b>Yıllık Kazanç :</b> {{yearly}} TL</span> <hr>
               <span style="font-size:13px;"><b>Aylık Kazanç :</b> {{monthly}} TL</span> <hr>
               <span style="font-size:13px;"><b>Günlük Kazanç :</b> {{daily}} TL</span> <hr>
               <span style="font-size:13px;"><b>Toplam Alınan Sipariş Sayısı :</b> {{lengthOrders}}</span> <hr>
               <span style="font-size:13px;"><b>Toplam Satılan Ürün Sayısı :</b> {{sumProductPieces}}</span> <hr>
               <span style="font-size:13px;"><b>En Çok Satılan Pizza :</b> {{best_pizza.title}}<br>{{best_pizza.salesCount}} tane satıldı.</span><br>
               <div class="rate">
                {% if best_pizza.forRating > '0.0' %}
                <span class="fa fa-star checked"></span>
                {% if best_pizza.forRating > '1.0' %}
                <span class="fa fa-star checked"></span>
                {% if best_pizza.forRating > '2.0' %}
                <span class="fa fa-star checked"></span>
                {% if best_pizza.forRating > '3.0' %}
                <span class="fa fa-star checked"></span>
                {% if best_pizza.forRating > '4.0' %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                <span>({{best_pizza.forRating}})</span>
            </div>
            <a class="detail" href="{% url 'pizzas:productRatings' best_pizza.id %}"><i class="fas fa-smile"></i> Ürünü İncele</a>
               <hr>
               <span style="font-size:13px;"><b>En Az Satılan Pizza :</b> {{worst_pizza.title}}<br>{{worst_pizza.salesCount}} tane satıldı.</span><br>
               <div class="rate">
                {% if worst_pizza.forRating > '0.0' %}
                <span class="fa fa-star checked"></span>
                {% if worst_pizza.forRating > '1.0' %}
                <span class="fa fa-star checked"></span>
                {% if worst_pizza.forRating > '2.0' %}
                <span class="fa fa-star checked"></span>
                {% if worst_pizza.forRating > '3.0' %}
                <span class="fa fa-star checked"></span>
                {% if worst_pizza.forRating > '4.0' %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                <span>({{worst_pizza.forRating}})</span>
            </div>
            <a class="detail" href="{% url 'pizzas:productRatings' worst_pizza.id %}"><i class="fas fa-frown-open"></i> Ürünü İncele</a>
               <hr>
               <span style="font-size:13px;"><b>Puanı En Yüksek Pizza :</b> {{popular_pizza.title}}<br>{{popular_pizza.salesCount}} tane satıldı.</span><br>
               <div class="rate">
                {% if popular_pizza.forRating > '0.0' %}
                <span class="fa fa-star checked"></span>
                {% if popular_pizza.forRating > '1.0' %}
                <span class="fa fa-star checked"></span>
                {% if popular_pizza.forRating > '2.0' %}
                <span class="fa fa-star checked"></span>
                {% if popular_pizza.forRating > '3.0' %}
                <span class="fa fa-star checked"></span>
                {% if popular_pizza.forRating > '4.0' %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                <span>({{popular_pizza.forRating}})</span>
            </div>
            <a class="detail" href="{% url 'pizzas:productRatings' popular_pizza.id %}"><i class="fas fa-smile"></i> Ürünü İncele</a>
               <hr>
               <span style="font-size:13px;"><b>Puanı En Düşük Pizza :</b> {{unpopular_pizza.title}}<br>{{unpopular_pizza.salesCount}} tane satıldı.</span><br>
            <div class="rate">
                {% if unpopular_pizza.forRating > '0.0' %}
                <span class="fa fa-star checked"></span>
                {% if unpopular_pizza.forRating > '1.0' %}
                <span class="fa fa-star checked"></span>
                {% if unpopular_pizza.forRating > '2.0' %}
                <span class="fa fa-star checked"></span>
                {% if unpopular_pizza.forRating > '3.0' %}
                <span class="fa fa-star checked"></span>
                {% if unpopular_pizza.forRating > '4.0' %}
                <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                {% else %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                {% endif %}
                <span>({{unpopular_pizza.forRating}})</span>
            </div>
            <a class="detail" href="{% url 'pizzas:productRatings' unpopular_pizza.id %}"><i class="fas fa-frown-open"></i> Ürünü İncele</a>
               <hr>
            </div>           
        </div>
    </div>
</div>
<script src="{% static 'js/categoryNav/jquery-3.2.1.slim.min.js' %}" ></script>

<script src="{% static 'js/categoryNav/popper.min.js' %}" ></script>

<script src="{% static 'js/categoryNav/bootstrap.min.js' %}" ></script>

<script src="{% static 'js/categoryNav/index.js' %}" ></script>
{% endblock body %}