{% extends 'pages/layout.html' %}
{% load static %}

{% block baslik %}
    <title>PizzaS | Ürünler</title>
    <link rel="stylesheet" href="{% static 'css/page_specific/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
{% endblock baslik %}
    


{% block body %}
{% load static %}
<form>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        
          <input class="search_input" type="text" name="keyword" placeholder="Ara...">
          <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
          
      </div>
    </div>
  </div></form>
<div class="col-md-6 offset-md-3">
  <div id="add" class="col-md-6 offset-md-3">
    <a class="admin-btn" href="{% url 'campaign:campaignAdd' %}"><i class="fas fa-plus"></i> Kampanya Ekle</a>
  </div>
<table class="">
  <thead>
    <tr>
      <th scope="col">Pizza</th>
      <th scope="col">İsim</th>
      <th scope="col">Kategori</th>
      <th scope="col">Fiyat</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for campaign in campaigns %}
      <tr>
        <th scope="row"><img src="{{campaign.imageUrl}}" alt=""></th>
        <td>{{campaign.title|truncatechars:10}}</td>
        <td>{{campaign.category|truncatechars:10}}</td>
        <td>{{campaign.price}} TL</td>
        <td><a href="{% url 'campaign:campaignEdit' campaign.id %}"><i class="fas fa-edit"></i></a></td>
        <td><a href="{% url 'campaign:campaignDelete' campaign.id %}"><i class="fas fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    
  </tbody>
</table></div>
{% endblock body %}