{% extends 'pages/layout.html' %}
{% load static %}

{% block baslik %}
    <title>PizzaS | Ürünler</title>
    <link rel="stylesheet" href="{% static 'css/page_specific/products.css' %}">
    <style>
    a.admin-btn i{
      margin: 5px;
    }
    a.admin-btn{
      border-radius: 30px;
      padding: 20px;
      background: orange;
      color: #fff;
      text-decoration: none;
    }
    #add{
      margin: 30px;
    }
    .searchbar{
      margin-bottom: 20px;
      margin-top: auto;
      height: 60px;
      background-color: #353b48;
      border-radius: 30px;
      padding: 10px;
      }

      .search_input{
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      caret-color:transparent;
      line-height: 40px;
      transition: width 0.4s linear;
      }

      .searchbar:hover > .search_input{
      padding: 0 10px;
      width: 450px;
      caret-color:red;
      transition: width 0.4s linear;
      }

      .searchbar:hover > .search_icon{
      background: white;
      color: orange;
      }

      .search_icon{
      height: 40px;
      width: 40px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color:white;
      text-decoration:none;
      }
      @media (max-width:768px){
        .searchbar{
        min-width:100px;
      }
      }
      @media (max-width:545px){
      .searchbar{
        max-width: 250px;
        min-width:100px;
      }
      .searchbar input{
        max-width: 170px;
      }
      }
    </style>
{% endblock baslik %}
    


{% block body %}

{% load static %}
<form>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        
          <input class="search_input" type="text" name="keyword" placeholder="Ara...">
          <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
          
      </div>
    </div>
  </div></form>
<div class="col-md-6 offset-md-3">
  <div id="add" class="col-md-6 offset-md-3">
    <a class="admin-btn" href="{% url 'pizzas:productsAdd' %}"><i class="fas fa-plus"></i> Pizza Ekle</a>
  </div>
<table class="">
  <thead>
    <tr>
      <th scope="col">Pizza</th>
      <th scope="col">İsim</th>
      <th scope="col">Kategori</th>
      <th scope="col">Fiyat</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for pizza in pizzas %}
      <tr>
        <th scope="row"><img src="{{pizza.imageUrl}}" alt=""></th>
        <td>{{pizza.title|truncatechars:10}}</td>
        <td>{{pizza.category|truncatechars:10}}</td>
        <td>{{pizza.price}} TL</td>
        <td><a href="{% url 'pizzas:productsEdit' pizza.id %}"><i class="fas fa-edit"></i></a></td>
        <td><a href="{% url 'pizzas:productsDelete' pizza.id %}"><i class="fas fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    
  </tbody>
</table></div>
{% endblock body %}